body {
    font-family: "Helvetica Neue", Arial;
    font-size:13px;
    background:silver;
}
body h1 {
    font-weight:200;
    color:white;
}

.container {
    width:800px;
    margin:auto;
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.38);
    border:1px solid #054fb7;
}
#header a {
    text-decoration:none;
    color:white;
    display:inline-block;
    background-color: #39c3ff;
    margin:3px;
    padding:5px;
    border-radius:3px;
}
#header a:hover {
    color: #1c212b;
}
#header {
    background: #0182ff;
    border-bottom:5px solid #054fb7;
    padding:8px 20px 20px 20px;
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
}

#content {
    background:white;
    padding:20px;
}

#footer {
    background: #0182ff;
    border-top:5px solid #054fb7;
    padding:20px;
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;
    color:white;
}

.loginForm label, .userForm label {
    width:100px;
    margin-left:30px;
    display:inline-block;
    text-align:right;
    padding-right:10px;
    padding-top:6px;
    vertical-align:top;
}
.loginForm input, .userForm input, .userForm textarea {
    width:200px;
    border:1px solid #ccc;
    padding:4px;
    border-radius:3px;
}

.loginForm select, .userForm select {
    margin-left:-3px;
}
.userForm textarea {
    width:calc(100% - 160px);
    height:80px;
}
button, .button{
    border:none;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 6px 6px 6px;
    text-decoration: none;
}

button:hover, .button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}